<connectionStrings>
  <add name="SourceDatabase" connectionString="Data Source=.\DEV;Initial Catalog=Eclipse;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  <add name="DestinationDatabase" connectionString="Data Source=.\DEV;Initial Catalog=BOALedger143;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  <!--<add name="SourceDatabase" connectionString="Data Source=.\DEV;Initial Catalog=SourceDatabase;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="DestinationDatabase" connectionString="Data Source=.\DEV;Initial Catalog=DestinationDatabase;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
